{% extends "base.html" %}
{% load static %}

{% block title %}Пусто{% endblock %}
{% block content %}

<main role="main">

  <div class="container">
    <!-- Example row of columns -->
    {% comment %} <a href = {% url "main:article"%}<div class="alert alert-dark" role="alert"> {% endcomment %}
      <h5><p>{{article.name|safe}}</p></h5>
      <p>{{article.text|safe}}
    </a>

    </div>

    <h7> Возможно вас заинтересует:</h7>
    <br>
        <a href={{ product.get_absolute_url }}> {{article.product.name}}</a>
  </div> <!-- /container -->


</main>

{% endblock %}